
<h2>Welcome to a healthier you</h2>

<p> When you need to take control of your health choose Health Tracker</p>

<p> Choosing us will give you the best option to customize your calorie intake</p>

<p> Our app allows you to write the date of the meals you had,
   the name of the meal you had, the category in which it falls under such as breakfast,lunch or dinner meal.
   you can input the amount of calories each meal contains allowing you to view your daily calorie intake. </p>

<p> Manage your calorie intake with Health Tracker</p>

<h2>below are enteries by our users</h2>

  {{#if meals.length}}
    <div class="col-md-6 meal-list">
      <h3>All user entries</h3>
        <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Meal</th>
            <th scope="col">User</th>
            <th scope="col">Calories</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
          {{#each meals as |meal|}}
            <tbody>
              <tr>
                <th scope="row">{{meal.id}}</th>
                <td>{{meal.name}}</td>
                <td>{{meal.user.name}}</td>
                <td>{{meal.calories}}</td>
                <td>{{meal.category.type}}</td>
              </tr>
            </tbody>
          {{/each}}
        </table>
    </div>
    {{/if}}
  </div>

