<div>
  {{#if meals.length}}
    <div class="col-md-6 meal-list">
      <h3>All user entries</h3>
        <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Meal</th>
            <th scope="col">User</th>
            <th scope="col">Calories</th>
            <th scope="col">Category</th>
          </tr>
        </thead>
          {{#each meals as |meal|}}
            <tbody>
              <tr>
                <th scope="row">{{meal.id}}</th>
                <td>{{meal.name}}</td>
                <td>{{meal.user.name}}</td>
                <td>{{meal.calories}}</td>
                <td>{{meal.category.type}}</td>
              </tr>
            </tbody>
          {{/each}}
        </table>
    </div>
    {{/if}}
  </div>

